@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import "./includes/hexagons.css";
.slick-slide{
    margin-left:  15px;
    margin-right:  15px;
    direction: rtl;

  }
.nav-slider .slick-slide{
    cursor: pointer;
}
 

.news-card{
  min-height: 70vh;
 }
#Archivements-Section{
  background-color: #262012;
}
#NewsSection{
  background-color: #222021;
}